@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#container {
 background-image: url('https://png.pngtree.com/background/20210714/original/pngtree-gamer-style-cmando-neon-effect-vactor-picture-image_1234598.jpg');
 background-repeat: no-repeat; /*Do not repeat the image*/
 background-size :cover;
 width: 100%;
 height: 700px;
 display: flex;
 align-items: center;
 padding-left:232px;
}
.card {
  justify-content:  center;
  margin-top: 150px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
}
.flecha-derecha {
  border: transparent !important;
}
.flecha-izquierda {
  border: transparent !important;
}
.card-div-flecha1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card-div-flecha2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}